.portfolio-section__container h2 {
  margin: 0 0 1.5rem;

  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: var(--color-primary-font);
}

.portfolio-section__description-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  margin-left: 1.5rem;
}

.portfolio-section__description-box hr {
  width: 5%;
  height: 2px;
  flex: 0.2;

  border: none;
  border-top: 2px solid var(--color-secondary-font);
}

.portfolio-section__description-box p {
  width: 100%;
  flex: 3;
  margin: 0;
  margin-left: 1rem;

  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.2rem;

  color: var(--color-secondary-font);
}

/* ********************************** Media Queries ********************************** */

@media screen and (max-width: 768px) {
  .portfolio-section__container h2 {
    width: 70%;
    margin: 0 0 1rem;

    font-size: 1.7rem;
    line-height: 2rem;
  }

  .portfolio-section__description-box {
    width: 95%;
  }
}
