.portfolio-footer__resume {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 5rem;
  padding: 5rem 0;
  box-sizing: border-box;
}

.portfolio-footer__resume-content h6 {
  font-weight: 800;
  font-size: 1rem;
  color: #000957;
}

.portfolio-footer__resume-content button {
  border: 1px solid #fff;
  background: transparent;

  width: 100%;
  padding: 1rem 5rem;

  font-weight: 800;
  font-size: 1rem;
  color: #fff;
}

.portfolio-footer__resume-social-links {
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.portfolio-footer__resume-links,
.portfolio-footer__resume-details {
  border: 2px solid #ff7948;
  border-left: none;
  border-right: none;
  flex: 1.3;

  padding: 1rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-footer__resume-links span,
.portfolio-footer__resume-details span {
  border-left: 2px solid #ff7948;
  padding-left: 1rem;
}

.portfolio-footer__resume-links span {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.portfolio-footer__resume-links span svg {
  margin-right: 10px;
}

.medium-logo {
  width: 20px;
  height: 20px;

  margin-right: 10px;
}

.portfolio-footer__resume-links span:first-of-type,
.portfolio-footer__resume-details span:first-of-type {
  border-left: 1px solid transparent;
  padding-left: 0;
}

.portfolio-footer__resume-details span:first-of-type {
  font-weight: 500;
}

.portfolio-footer__resume-expiry {
  flex: 1.5;
  text-align: center;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.portfolio-footer__resume-expiry h3 {
  font-size: 1rem;

  animation: circle 10s linear infinite;
}

.portfolio-footer__resume-expiry h3 span {
  display: inline-block;
  position: absolute;

  top: -60px;
  transform-origin: 0 60px;
  text-transform: uppercase;
}

.circle {
  width: 80px;
  height: 80px;
  box-sizing: border-box;

  border-radius: 50%;
  background: transparent;
  border: 1px solid #707070;
}

/* ********************************** Sudo Selectors ********************************** */

.portfolio-footer__resume-content button:hover {
  cursor: pointer;
}

/* ********************************** Media Queries ********************************** */

@media screen and (max-width: 768px) {
  .portfolio-footer__resume {
    height: 50vh;
    text-align: center;

    margin-bottom: 5rem;
    box-sizing: border-box;
  }

  .portfolio-footer__resume-content h6 {
    width: 80%;
    margin: 2rem auto 2rem;
  }

  .portfolio-footer__resume-content button {
    width: 80%;
  }

  .portfolio-footer__resume-social-links {
    flex-direction: column;
    padding: 0.8rem;
    margin-bottom: 3rem;
  }

  .portfolio-footer__resume-links,
  .portfolio-footer__resume-details {
    flex: 1.3;
    width: 80%;

    padding: 1rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .portfolio-footer__resume-links span svg {
    margin-right: 5px;
  }

  .portfolio-footer__resume-expiry {
    padding: 1.5rem 0;
  }
}

/* ********************************** Animation ********************************** */

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
