.portfolio-projects__container {
  width: 100%;
  height: 70vh;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;

  background: #f5f3f4;
}

/* ********************************** Media Queries ********************************** */

@media screen and (max-width: 768px) {
  .portfolio-projects__container {
    flex-direction: column;
    height: unset;
  }
}
