.section_padding {
  width: 100%;
  display: flex;
  position: relative;

  padding: 2.5rem;
  box-sizing: border-box;
}

.portfolio-experience__col-1 {
  flex: 46%;
}

.portfolio-experience__col-2 {
  flex: 54%;
}

.portofolio-experience__skills-grid {
  bottom: 0;
  width: 70%;
}

.sub-title {
  font-family: var(--font-headings);
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.6em;

  color: var(--color-secondary-font);
}

.margin-removed {
  margin: 0 0 1rem;
}

.portfolio-experience__skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.portfolio-experience__skills-wrapper p {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 0.8rem;

  color: var(--color-primary-font);
}

.icon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-secondary);
  cursor: pointer;
}

.icon-container img {
  width: 25px;
  height: 25px;
}

/* Test */
.portfolio-experience__skill-item {
  background: var(--color-secondary);

  border-radius: 10px;
  /* padding: 0.5rem 1rem 0.5rem; */
  padding: 0.5rem 1rem 1rem;
  box-sizing: border-box;
}

.portfolio-experience__skill-item .skill-item-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.portfolio-experience__skill-item .skill-item-title img {
  width: 35px;
  height: 35px;

  margin-right: 0.5rem;
}

.portfolio-experience__skill-item .skill-item-title h6 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;

  color: #ffffff;
}

.portfolio-experience__skill-item p {
  font-family: var(--font-primary);
  font-weight: 300;
  font-size: 0.6rem;
  margin: 0;
  padding: 0;

  color: #ffffff;
}

/* ********************************** Sudo Selectors ********************************** */

.portfolio-experience__skills-wrapper:hover::after {
  content: " have a total on 1+ year of experience working in NodeJS along with other technologies in MERN stack and created total 10 projects.";
  position: absolute;
  top: 0;
  left: 40%;
  width: 100%;
  height: 200%;

  font-size: 0.5rem;
  background: var(--color-secondary);
  color: #fff;
  z-index: -1;
}

.portfolio-experience__skills-wrapper:hover div:first-child {
  background: #fff;
}

.portfolio-experience__skills-wrapper:hover p {
  display: none;
}

/* ********************************** Media Queries ********************************** */

@media screen and (max-width: 768px) {
  .section_padding {
    flex-direction: column;
    padding: 2rem 2rem 0.6rem;

    height: unset;
  }

  .portfolio-experience__col-1 {
    margin-bottom: 2rem;
    width: 100%;
  }

  .portfolio-experience__col-2 {
    margin-bottom: 2rem;
    width: 100%;
  }

  .sub-title {
    font-size: 1.3rem;
  }

  .portofolio-experience__skills-grid {
    width: 100%;
  }
}
