.section_padding {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;

  padding: 2.5rem;
  padding-left: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

.portfolio-home__col-1 {
  flex: 55%;
  margin-top: 6%;
  padding-bottom: 2.5rem;

  position: relative;
}

.portfolio-home__col-2 {
  flex: 45%;

  display: flex;
  justify-content: center;
  position: relative;
}

.semi-circle-container {
  width: 18.75rem;
  height: 18.75rem;
  border: 20px solid #fcda68;
  border-radius: 50%;

  position: absolute;
  top: 15%;
  left: -50%;
  transform: translateX(50%);
  z-index: -1;
}

.semi-circle-container img {
  width: 10vw;
  height: 80vh;
}

.portfolio-home__intro-wrapper {
  width: 100%;
  padding: 0 0 0 2.5rem;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.portfolio-home__intro-wrapper h1 {
  margin: 0;

  font-family: var(--font-headings);
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;

  color: var(--color-primary-font);
}

.portfolio-home__intro-wrapper h1 em {
  color: var(--color-secondary);
  font-style: normal;
}

.portfolio-home__intro-wrapper p {
  margin: 0;

  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 0.9rem;

  color: var(--color-secondary-font);
}

.cute-circle {
  width: 30px;
  height: 30px;

  position: absolute;
  right: -20px;
  bottom: 25%;
}

.cute-circle img {
  width: 30px;
  height: 30px;
}

.portfolio-home__col-1 hr {
  width: 100%;
  height: 0;
  margin-top: 1.5rem;
  margin-left: 2.5rem;

  border: 2px solid var(--color-secondary-font);
}

.portfolio-home__description-box {
  width: 75%;
  padding: 0 0 0 2.5rem;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  margin-left: 1.5rem;
}

.portfolio-home__description-box hr {
  width: 5%;
  height: 2px;
  flex: 0.2;

  border: none;
  border-top: 2px solid var(--color-secondary-font);
}

.portfolio-home__description-box p {
  width: 70%;
  flex: 3;
  margin: 0;
  margin-left: 1rem;

  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;

  color: var(--color-secondary-font);
}

.tag-line {
  margin: 2rem 0 1.5rem;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0 0 2.5rem;

  color: var(--color-secondary-font);
}

.portfolio-home__social-links {
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio-home__col-2 img {
  width: 70%;
  position: relative;
  bottom: -10%;
  z-index: -1;
}

.icon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 2px solid var(--color-primary-font);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transform-origin: center right;
}

.icon-container img {
  width: 25px;
  height: 25px;
}

.icon-container p {
  display: none;

  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 0.8rem;

  color: var(--color-primary-font);
}

.scroll-indicator {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  transform: rotate(-90deg) translateY(-60%);
  margin: 0;

  position: absolute;
  right: -20%;
  top: 60%;
}

.scroll-indicator p {
  display: inline-block;
  white-space: nowrap;

  letter-spacing: 0.3em;
  font-weight: 600;
  font-size: 0.8rem;
}

.scroll-indicator hr {
  display: inline-block;

  height: 0;
  border: 1px solid var(--color-secondary-font);
  margin-left: 1rem;
}

.scroll-indicator hr.first {
  width: 8rem;
}

/* ********************************** Sudo Selectors ********************************** */

.icon-container:hover {
  width: max-content;

  padding: 0 1.2rem;
  border-radius: 30px;
}

.icon-container:hover p {
  display: inline-block;

  margin-left: 0.3rem;
}

/* ********************************** Media Queries ********************************** */

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .section_padding {
    flex-direction: column;
    padding: 0.6rem 2rem 0;
    padding-left: 0;

    height: unset;
  }

  .semi-circle-container {
    left: -100%;
  }

  .portfolio-home__intro-wrapper {
    flex-direction: column;

    text-align: start;
    align-items: flex-start;
  }

  .portfolio-home__intro-wrapper h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .portfolio-home__intro-wrapper p {
    margin: 1rem 0 0;
    font-size: 0.9rem;
  }

  .cute-circle {
    right: 30%;
    bottom: 2%;
    transform: translateX(-30%);
  }

  .portfolio-home__col-1 hr {
    padding-left: 2rem;
  }

  .tag-line {
    font-size: 1rem;
  }

  .portfolio-home__description-box p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .portfolio-home__social-links {
    width: 75%;

    bottom: -15%;
    position: relative;
    margin: 1.5rem 0;
  }

  .portfolio-home__col-2 img {
    bottom: -15%;
  }

  .scroll-indicator {
    transform: rotate(-90deg) translateY(-50%);
    right: -15%;
    top: 60%;
  }
}

@media screen and (max-width: 425px) {
  .scroll-indicator {
    right: -40%;
    top: 45%;
  }
}

@media screen and (max-width: 320px) {
  .scroll-indicator {
    right: -50%;
    top: 45%;
  }
}
