.section_padding {
  width: 100%;
  /* height: 100vh; */
  background: var(--color-primary);

  padding: 2.5rem;
  box-sizing: border-box;
}

.portfolio-latest-projects__container {
  width: 95%;
  margin: 3rem 0 0 3.5rem;

  display: flex;
  justify-content: space-between;
}

.portfolio-latest-projects__container > div:not(:first-child) {
  transform: translateY(-30%);
}

.portfolio-latest-projects__container > div:last-child {
  transform: translateY(-60%);
}

button.view-all {
  margin-left: auto;
  width: 20%;
  padding: 0.6rem 0.6rem;
  box-sizing: border-box;

  border: none;
  border-radius: 35px;
  background: var(--color-secondary);
  color: #fff;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* ********************************** Media Queries ********************************** */

@media screen and (max-width: 768px) {
  .section_padding {
    flex-direction: column;
    padding: 0.6rem 2rem;

    height: unset;
  }

  .portfolio-latest-projects__container {
    flex-direction: column;
    margin: 3rem 0 0 0rem;
  }

  .portfolio-latest-projects__container > div:not(:first-child) {
    transform: translateY(0%);
  }

  .portfolio-latest-projects__container > div:last-child {
    transform: translateY(0%);
  }

  button.view-all {
    margin: 0 auto 1rem;
    width: 80%;
    padding: 0.75rem 0.8rem;

    font-size: 0.8rem;
  }

  button.view-all svg {
    width: 20px;
    height: 20px;
  }
}
