.section_padding {
  width: 100%;
  height: 100vh;
  display: flex;

  background: var(--color-primary);
  padding: 2.5rem;
  padding-bottom: 0;
  box-sizing: border-box;
}

.portfolio-services__col-1 {
  flex: 46%;
  position: relative;
}

.portfolio-services__col-2 {
  flex: 54%;
  padding-bottom: 2.5rem;
}

.snowman-art {
  position: absolute;
  margin-top: auto;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.snowman-art img {
  width: 60%;
  height: 60%;

  bottom: 0;
}

/* ********************************** Media Queries ********************************** */

@media screen and (max-width: 768px) {
  .section_padding {
    flex-direction: column;
    padding: 0.6rem 2rem;

    height: unset;
  }

  .portfolio-services__col-1 {
    margin-bottom: 2rem;
  }

  .snowman-art {
    display: none;
  }
}
